@if(isAddingTask) {
  <app-newtask (cancel)="onChangeClickedButton()" (add)="onAddNewTask($event)"/>
}

<section id="tasks">
  <header>
    <h2>
      {{ userName }}`s tasks
    </h2>

    <menu>
      <button (click)="onStartAddingTask()">Add tasks</button>
    </menu>
  </header>

    <ul>
      @for (task of userTasks; track task.id) {
        <li>
          <app-task 
            [userTask]="task" 
            (complete)="onSelectedTasks($event)"
            />
        </li>
      }
    </ul>
</section>
